---
import {storyblokEditable} from '@storyblok/astro'
import {formatLink} from '@/utils'

let {blok, links} = Astro.props

links = links.map(l => ({
    ...l,
    link: formatLink(l.link),
}))

const circleClass = 'absolute md:top-auto md:bottom-[-1.2rem] left-[-1.21rem] h-9 w-9 rounded-full bg-red bg-clip-content p-2.5 border';
---

<section
  {...storyblokEditable(blok)}
  class="bg-gray py-16 sm:py-24"
>
    <div class="container-fluid pr-4 pl-8 md:px-container">
        <div class="flex flex-col border-l-[3px] border-red md:flex-row md:border-b-[3px] md:border-l-0">
            {links.map((link, i, {length}) => (
                <a
                  class="relative flex-1 pb-12 pl-8 uppercase-wide md:pt-0 md:pb-6 md:pl-6"
                  href={link.link.href}
                  target={link.link.target}
                >
                    <div class="-mt-2.5 md:mt-0">
                        {link.label}
                    </div>

                    <div
                      class="-top-4 md:-left-4"
                      class:list={[
                            circleClass,
                            Astro.url.pathname === link.link.href ? 'border-red' : 'border-transparent',
                        ]}
                    />

                    {length - 1 === i
                      && (
                        <div
                          class="-bottom-4 border-transparent md:-right-4 md:left-auto"
                          class:list={circleClass}
                        />
                      )}
                </a>
              ),
            )}
        </div>
    </div>
</section>
