---
import {storyblokEditable} from '@storyblok/astro';
import formatLink from '@/utils/formatLink';

let {blok, links} = Astro.props;

links = links.map(l => ({
    ...l,
    link: formatLink(l.link),
}));

const circleClass = 'absolute md:top-auto md:bottom-[-1.2rem] left-[-1.21rem] h-9 w-9 rounded-full bg-red bg-clip-content p-2.5 border';
---

<section
    {...storyblokEditable(blok)}
    class="bg-gray py-24 md:py-36"
>
    <div class="container-fluid pl-8 pr-4 md:px-container">
        <div class="flex border-l-[3px] md:border-l-0 md:border-b-[3px] border-red flex-col md:flex-row">
            {links.map((link, i, {length}) => 
                <a
                    class="relative flex-1 pb-12 -pt-1 md:pt-0 md:pb-3 pl-8 md:pl-6 text-2xl"
                    href={link.link.href}
                    target={link.link.target}
                >
                    <div class="-mt-3.5 md:mt-0">
                        {link.label}    
                    </div>

                    <div 
                        class="-top-4 md:-left-4" 
                        class:list={[
                            circleClass,
                            Astro.url.pathname === link.link.href ? 'border-red' : 'border-transparent',
                        ]}
                    />

                    {length - 1 === i && 
                        <div
                            class="-bottom-4 md:left-auto md:-right-4 border-transparent" 
                            class:list={circleClass}
                        />
                    }
                </a>
            )}
        </div>
    </div>
</section>
