---
import {storyblokEditable} from '@storyblok/astro'
import {below, getSrcset} from '@/utils'

const {blok, caption, image, projectName} = Astro.props;
---

<section
  {...storyblokEditable(blok)}
  class="bg-gray-light py-4 first:py-0 md:py-12 lg:py-20"
>
    <div class="container-fluid">
        <picture class="relative">
            <source
              height="360"
              media={below.sm}
              srcset={getSrcset(image, 639, 360)}
              width="639"
            />

            <source
              height="431"
              media={below.md}
              srcset={getSrcset(image, 767, 431)}
              width="767"
            />

            <source
              height="576"
              media={below.lg}
              srcset={getSrcset(image, 1023, 576)}
              width="1023"
            />

            <img
              alt={image.alt || projectName}
              height="1080"
              loading="lazy"
              srcset={getSrcset(image, 1920, 1080)}
              title={image.title || projectName}
              width="1920"
              class="skeleton"
            />

            <div
              class="absolute bottom-4 px-container text-sm md:bottom-6 md:text-base lg:text-2xl"
              set:html={caption}
            />
        </picture>
    </div>
</section>
