---
import {storyblokEditable} from '@storyblok/astro';
import {getSrcset} from '@/utils';
import Tt from '@/components/t-t.astro';

const {
    background = 'gray',
    blok,
    image,
    image_on_right = false,
    logo = false,
    paragraph,
} = Astro.props;

const isVideo = image.filename.endsWith('.mp4');
---

<section
    {...storyblokEditable(blok)}
    class=`bg-${background} py-4 md:py-12 lg:py-20 first:py-0`
>
    <div class="container-fluid grid md:grid-cols-2">
        <div class:list={{'order-last': image_on_right}}>
            {isVideo
                ? <video src={image.filename} loop autoplay controls/>
                : <picture>
                    <source
                        media="(max-width: 639px)"
                        srcset={getSrcset(image, 639)}
                        width="639"
                    />

                    <source
                        media="(max-width: 767px)"
                        srcset={getSrcset(image, 767)}
                        width="767"
                    />

                    <img
                        alt={image.alt}
                        loading="lazy"
                        class="skeleton"
                        srcset={getSrcset(image, 960 )}
                        title={image.title}
                        width="960"
                        height="1280"
                    />
                </picture>
            }
        </div>
        

        <div class="flex-col items-center justify-center px-container relative py-8">
            <p 
                class="max-w-prose whitespace-pre-line text-lg xl:text-2xl"
                class:list={{'text-white': background === 'black'}}
                set:html={paragraph}
            />

            {logo && <Tt
                class="hidden lg:block absolute fill-none stroke-red bottom-8 -left-28"
                size="w-3/5" 
            ></Tt>}
        </div>
    </div>
</section>
