---
import {storyblokEditable} from '@storyblok/astro';
import {getSrcset} from '@/utils';
import Tt from '@/components/t-t.astro'

const {blok, image, paragraph} = Astro.props;
---

<section
    {...storyblokEditable(blok)}
    class="bg-black"
>
    <div class="container-fluid grid md:grid-cols-2">
        <picture>
            <source
                media="(max-width: 639px)"
                srcset={getSrcset(image, 639)}
                width="639"
            />

            <source
                media="(max-width: 767px)"
                srcset={getSrcset(image, 767)}
                width="767"
            />

            <img
                alt={image.alt}
                loading="lazy"
                srcset={getSrcset(image, 960, 1080)}
                title={image.title}
                width="960"
                height="1080"
            />
        </picture>

        <div class="flex-col items-center justify-center px-container relative py-12">
            <p 
                class="text-white max-w-prose whitespace-pre-line text-lg xl:text-2xl"
                set:html={paragraph}
            />

            <Tt
                class="hidden lg:block absolute fill-none stroke-red bottom-8 -left-28"
                size="w-3/5" 
            ></Tt>
        </div>
    </div>
</section>
