---
import {storyblokEditable} from '@storyblok/astro';
import {getSrcset} from '@/utils';

const {blok, image, width = 6, projectName} = Astro.props;

const imageClass = width === '12'
    ? 'lg:w-full'
    : `lg:w-${width}/12`;

const isVideo = image.filename.endsWith('.mp4');
---

<section
    {...storyblokEditable(blok)}
    class="bg-gray py-4 md:py-12 lg:py-20"
>
    <div class="container-fluid flex-center">
        <div class={imageClass}>
            {isVideo
                ? <video src={image.filename} loop controls/>
                : <picture>
                    <source
                        media="(max-width: 639px)"
                        srcset={getSrcset(image, 639)}
                        width="639"
                    />

                    <source
                        media="(max-width: 767px)"
                        srcset={getSrcset(image, 767)}
                        width="767"
                    />

                    <img
                        alt={image.alt || projectName}
                        loading="lazy"
                        class="skeleton"
                        srcset={getSrcset(image, 1920)}
                        title={image.title || projectName}
                        width="1920"
                    />
                </picture>
            }
        </div>
    </div>
</section>
