---
import {storyblokEditable, useStoryblokApi} from '@storyblok/astro';
import formatImage from '@/utils/formatImage';
import ProjectsGrid from '@/components/projects/ProjectsGrid.vue';

const {blok} = Astro.props;

const api = useStoryblokApi();

async function getFilter(datasource: string) {
    const {data: {datasource_entries}} = await api.get('cdn/datasource_entries', {
        datasource,
    });

    return [{name: 'All', value: 'all'}].concat(
        datasource_entries.map(e => ({name: e.name, value: e.value})),
    );
}

async function getProjects() {
    const {data: {stories}} = await api.get('cdn/stories', {
        excluding_fields: 'sections',
        filter_query: {
            component: {in: 'Project'},
        },
        version: import.meta.env.DEV ? 'draft' : 'published',
    });

    return stories.map(s => ({
        categories: s.content.categories,
        href: `/${s.full_slug}`,
        industries: s.content.industries,
        name: s.name,
        thumbnail: formatImage(s.content.thumbnail),
    }));
}

const categories = await getFilter('categories');
const industries = await getFilter('industries');
const projects = await getProjects();
---

<section
    {...storyblokEditable(blok)}
    class="container-fluid px-container bg-black pb-16"
>
    <ProjectsGrid
        client:visible
        categories={categories}
        industries={industries}
        projects={projects}
    />
</section>
