---
import {storyblokEditable} from '@storyblok/astro';

let {blok, items, projectName, projectDate} = Astro.props;

projectDate = new Date(projectDate);

const colClass = 'flex-col md:w-1/2 md:pt-20 lg:pt-32 md:pb-12';
---

<section
    {...storyblokEditable(blok)}
    class="border-b border-red bg-gray"
>
    <div class="container-fluid px-container flex-col md:flex-row md:divide-x divide-red">
        <div 
            class="pt-12"
            class:list={colClass}
        >
            <h1 class="text-5xl lg:text-7xl">
                {projectName}
            </h1>

            <div class="text-red mt-auto">
                {projectDate.getFullYear()}
            </div>
        </div>

        <div 
            class="gap-4 md:gap-6 md:pl-12 pt-8 pb-12"
            class:list={colClass}
        >
            {items.map(item => (
                <div>
                    <label class="text-red">
                        {item.label}
                    </label>

                    <div class="text-lg md:text-xl lg:text-2xl">
                        {item.text}
                    </div>
                </div>
            ))}
        </div>
    </div>
</section>
