---
import {storyblokEditable} from '@storyblok/astro';
import TextsGrid from '@/components/TextsGrid.vue';

let {blok, items, parallax = false} = Astro.props;

items = items.map(item => item.text.split('\n'));

const width = 'sm:w-10/12 lg:w-full xl:w-10/12';
---

<section
    {...storyblokEditable(blok)}
    id="texts-grid"
    class="flex-col bg-gray sm:h-screen transition-colors duration-300"
    class:list={{'sticky inset-x-0 bottom-0 -z-10': parallax}}
>
    <div class="container-fluid px-container w-full grow">
        <div 
            class="h-48 border-x border-white sm:h-full"
            class:list={width}
        />
    </div>

    <TextsGrid
        client:visible
        items={items}
        width={width}
    />

    <div class="container-fluid px-container w-full grow">
        <div 
            class="h-48 border-x border-white sm:h-full"
            class:list={width}
        />
    </div>
</section>

<style is:global>
    #texts-grid.bg-red {
        @apply text-white;
    }

    #texts-grid * {
        @apply transition;
    }

    #texts-grid.bg-red .text-red{
        @apply text-black;
    }

    #texts-grid.bg-red .border-white{
        @apply border-black;
    }
</style>

<script>
const section = document.querySelector("#texts-grid");

if (section) {
    const observer = new IntersectionObserver(() => {
        section?.classList.toggle('bg-red');
    }, {threshold: 1});

    observer.observe(section);
}
</script>