---
import {storyblokEditable} from '@storyblok/astro';
import TextsGrid from '@/components/TextsGrid.vue';

let {blok, items, parallax = false} = Astro.props;

items = items.map(item => item.text.split('\n'));

const width = 'sm:w-10/12 lg:w-full xl:w-10/12';
---

<section
    {...storyblokEditable(blok)}
    class="flex-col bg-gray sm:h-[100svh]"
    class:list={{'sticky inset-x-0 bottom-0 -z-10': parallax}}
>
    <div class="container-fluid w-full grow">
        <div 
            class="h-48 border-x border-white sm:h-full"
            class:list={width}
        />
    </div>

    <TextsGrid
        client:visible
        items={items}
        width={width}
    />

    <div class="container-fluid w-full grow">
        <div 
            class="h-48 border-x border-white sm:h-full"
            class:list={width}
        />
    </div>
</section>
