---
import {storyblokEditable} from '@storyblok/astro'
import {below, getSrcset} from '@/utils'

const {blok, image1, image2, projectName, flip = false} = Astro.props;
---

<section
  {...storyblokEditable(blok)}
  class="bg-gray-light py-4 md:py-12 lg:py-20"
>
  <div class="container-fluid px-container">
    <div class:list={["grid grid-cols-12 gap-x-4 lg:items-end", {"[direction:rtl]": flip}]}>
      <div class="col-span-6 lg:col-span-3">
        <picture>
          <source
            media={below.sm}
            srcset={getSrcset(image1, 295, 264)}
            width="295"
            height="264"
          />
          <source
            media={below.lg}
            srcset={getSrcset(image1, 472, 423)}
            width="472"
            height="423"
          />
          <img
            alt={image1.alt || projectName}
            loading="lazy"
            class="w-full skeleton"
            srcset={getSrcset(image1, 435, 390)}
            title={image1.title || projectName}
            width="435"
            height="390"
          />
        </picture>
      </div>

      <div class="col-span-12 row-start-2 mt-8 md:mt-24 lg:col-span-6 lg:col-start-7 lg:row-start-1 lg:mt-0">
        <picture>
          <source
            media={below.sm}
            srcset={getSrcset(image2, 607, 455)}
            width="607"
            height="455"
          />
          <source
            media={below.lg}
            srcset={getSrcset(image2, 959, 719)}
            width="959"
            height="719"
          />
          <img
            alt={image2.alt || projectName}
            loading="lazy"
            class="w-full skeleton"
            srcset={getSrcset(image2, 888, 666)}
            title={image2.title || projectName}
            width="888"
            height="666"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
