---
import {storyblokEditable} from '@storyblok/astro';
import formatImage from '@/utils/formatImage';

let {blok, image1, image2} = Astro.props;

image1 = formatImage(image1);
image2 = formatImage(image2);
---

<section
    {...storyblokEditable(blok)}
    class="bg-gray"
>
    <div class="container-fluid grid grid-cols-12 gap-y-6 py-6 md:gap-y-12 md:py-12 xl:pb-24 xl:pt-48">
        <div class="col-span-full md:col-span-6 xl:col-span-3">
            <picture>
                <source
                    media="(max-width: 639px)"
                    srcset={`${image1.url}639x0`}
                    width="639"
                />

                <source
                    media="(max-width: 767px)"
                    srcset={`${image1.url}384x0`}
                    width="384"
                />

                <img
                    alt={image1.alt}
                    loading="lazy"
                    src={`${image1.url}512x0`}
                    title={image1.title}
                    width="480"
                />
            </picture>
        </div>

        <div class="col-span-full md:col-span-9 md:col-end-13 xl:col-span-6 xl:col-end-13">
            <picture>
                <source
                    media="(max-width: 639px)"
                    srcset={`${image2.url}639x0`}
                    width="639"
                />

                <source
                    media="(max-width: 767px)"
                    srcset={`${image2.url}576x0`}
                    width="576"
                />

                <img
                    alt={image2.alt}
                    loading="lazy"
                    src={`${image2.url}960x0`}
                    title={image2.title}
                    width="960"
                    class="ml-auto"
                />
            </picture>
        </div>
    </div>
</section>
