---
import {storyblokEditable} from '@storyblok/astro';
import {getSrcset} from '@/utils';

const {blok, image1, image2} = Astro.props;
---

<section
    {...storyblokEditable(blok)}
    class="bg-gray py-4 md:py-12 lg:py-20"
>
    <div class="container-fluid grid gap-y-8 sm:grid-cols-11 md:gap-y-12">
        <div class="col-span-full sm:col-span-5 lg:col-span-4 lg:col-start-2">
            <picture>
                <source
                    media="(max-width: 639px)"
                    srcset={getSrcset(image1, 639)}
                    width="639"
                />

                <source
                    media="(max-width: 767px)"
                    srcset={getSrcset(image1, 350)}
                    width="350"
                />

                <img
                    alt={image1.alt}
                    loading="lazy"
                    class="skeleton"
                    srcset={getSrcset(image1, 700)}
                    title={image1.title}
                    width="700"
                />
            </picture>
        </div>

        <div class="col-span-full sm:col-span-5 sm:col-end-12 lg:col-span-4 lg:col-end-11">
            <picture>
                <source
                    media="(max-width: 639px)"
                    srcset={getSrcset(image2, 639)}
                    width="639"
                />

                <source
                    media="(max-width: 767px)"
                    srcset={getSrcset(image2, 350)}
                    width="350"
                />

                <img
                    alt={image2.alt}
                    loading="lazy"
                    class="skeleton"
                    srcset={getSrcset(image2, 700)}
                    title={image2.title}
                    width="700"
                />
            </picture>
        </div>
    </div>
</section>
